index.html
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "239f820a-2d32-4432-a4b1-af48e7f97550",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        5520,
        6752
      ],
      "id": "83cc3f5c-1a54-4541-89c2-b366a33ddc5e",
      "name": "Webhook",
      "webhookId": "f1f7fafe-e526-484e-b4b0-e889181c6503"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "login",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "LOGIN"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "load_data",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "LOAD DATA"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "insert",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "INSERT ORDER"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "delete",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "DELETE"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "owner_load",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "OWNER LOAD"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "insert_expense",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "EXPENSE"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "filter_report",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "FILTER REPORT"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "supervisor_load",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "SUPERVISOR LOAD"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "insert_logistik",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "INSERT LOGISTIK"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "logistik_load",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "LOGISTIK LOAD"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "update_order",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "UPDATE ORDER"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        5808,
        6608
      ],
      "id": "2e0ac1da-9614-4e39-af64-2861b23b93f9",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "8HildWnSkKq16oAy",
          "mode": "list"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "LOGIN_ID",
              "keyValue": "={{ $json.body.id }}"
            }
          ]
        },
        "limit": 3000
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        6208,
        6208
      ],
      "id": "3167b235-04be-44bc-89a9-2796c18dfd87",
      "name": "GET BRANCH AUTH"
    },
    {
      "parameters": {
        "jsCode": "const inputDashboard = $('Webhook').item.json.body;\nif (items.length === 0) return [{ json: { status: \"error\", message: \"ID Akses tidak ditemukan!\" } }];\nconst dataDatabase = items[0].json;\nif (inputDashboard.id === dataDatabase.LOGIN_ID?.toString() && inputDashboard.password === dataDatabase.PASSWORD?.toString()) {\n  return [{ json: { status: \"success\", message: \"Login Berhasil\", cabang: dataDatabase.LOGIN_ID?.toString() } }];\n} else {\n  return [{ json: { status: \"error\", message: \"Password Salah!\" } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6400,
        6208
      ],
      "id": "99f74ce1-6206-4245-a1b3-414caa3033c2",
      "name": "Validasi Login"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        6608,
        6208
      ],
      "id": "feb99133-68a8-48b8-b582-eb87069c3d8f",
      "name": "Respon Login"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "KDdKPnHoT8H7lwvZ",
          "mode": "list"
        },
        "limit": 3000
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        6208,
        6416
      ],
      "id": "96f78bfd-a0bd-4d15-8860-be332c8a33cd",
      "name": "GET LOG DATA"
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { status: \"anti-loop\" } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6384,
        6416
      ],
      "id": "4e273fb9-d28b-4ce5-b297-22579bb23d68",
      "name": "Anti Loop Kasir"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "PMdyZTFnEIl9dZnw",
          "mode": "list"
        },
        "limit": 3000
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        6592,
        6416
      ],
      "id": "51e7578d-a40b-4a5d-b159-49a4ef0aee78",
      "name": "GET LOG EXPENSE KASIR",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const rawTx = $('GET LOG DATA').all().map(i => ({...i.json, db_id: i.id || i.json.id}));\nconst rawExp = $('GET LOG EXPENSE KASIR').all().map(i => ({...i.json, db_id: i.id || i.json.id}));\nconst wib = new Date(new Date().getTime() + (new Date().getTimezoneOffset() * 60000) + (3600000 * 7));\nconst today = wib.toISOString().split('T')[0];\nconst limitDate = new Date(wib.getTime() - (7 * 24 * 60 * 60 * 1000)).toISOString().split('T')[0];\nconst currentMonth = today.substring(0, 7);\nconst targetCabang = $('Webhook').first().json.body.CABANG_ID || 'BUGAR1';\nlet hariIni = 0, bulanIni = 0, hariIniCash = 0, hariIniTransfer = 0, history = [], expenseHistory = [];\nconst getUnique = (arr) => {\n    const m = new Map();\n    arr.forEach(i => m.set(i.db_id, i));\n    return Array.from(m.values());\n}\ngetUnique(rawTx).forEach(row => {\n  if (row.CABANG_ID !== targetCabang) return;\n  const tagihan = Number(row.TAGIHAN) || 0;\n  const metode = (row.METODE_BAYAR || 'CASH').toUpperCase();\n  if (row.TANGGAL && row.TANGGAL.startsWith(currentMonth)) bulanIni += tagihan;\n  if (row.TANGGAL === today) { \n      hariIni += tagihan; \n      if (metode === 'TRANSFER') hariIniTransfer += tagihan;\n      else hariIniCash += tagihan;\n  }\n  if (row.TANGGAL >= limitDate) { history.push(row); }\n});\ngetUnique(rawExp).forEach(row => {\n  if (row.CABANG_ID !== targetCabang) return;\n  if (row.TANGGAL >= limitDate) { expenseHistory.push(row); }\n});\nhistory.sort((a,b) => b.TANGGAL.localeCompare(a.TANGGAL));\nexpenseHistory.sort((a,b) => b.TANGGAL.localeCompare(a.TANGGAL));\nreturn [{ json: { status: 'success', stats: { hariIni, bulanIni, hariIniCash, hariIniTransfer }, history, expenseHistory } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6784,
        6416
      ],
      "id": "82232295-9ecc-46e3-9240-a628f6b64eae",
      "name": "Format Data"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        6992,
        6416
      ],
      "id": "145c0b56-9a41-4b0b-afac-aaf16357e304",
      "name": "Respon Load"
    },
    {
      "parameters": {
        "jsCode": "const input = $node[\"Webhook\"].json.body;\nconst utc = new Date().getTime() + (new Date().getTimezoneOffset() * 60000);\nconst wib = new Date(utc + (3600000 * 7));\nconst jamMulai = wib.toLocaleTimeString('id-ID', { hour: '2-digit', minute: '2-digit', hour12: false });\nconst jam = wib.getHours();\nconst menit = wib.getMinutes();\n\nlet isShiftMalam = false;\nif ((jam === 22 && menit >= 40) || jam >= 23 || jam < 7) { isShiftMalam = true; }\n\nlet durasiMenit = 60;\nconst paketName = String(input.PAKET || \"\").toUpperCase();\n\nif (paketName.includes(\"90\")) durasiMenit = 90;\nif (paketName.includes(\"120\") || paketName.includes(\"2 JAM\") || paketName.includes(\"PAKET 8\") || paketName.includes(\"CHIROPRACTIC\")) durasiMenit = 120;\nif (paketName.includes(\"20 MENIT\") || paketName.includes(\"TOTOK\") || paketName.includes(\"KEPALA\")) durasiMenit = 20;\n\nconst waktuSelesai = new Date(wib.getTime() + durasiMenit * 60000);\nconst jamSelesai = waktuSelesai.toLocaleTimeString('id-ID', { hour: '2-digit', minute: '2-digit', hour12: false });\n\nconst cleanTagihan = Number(input.TAGIHAN) || 0;\nlet bagiTerapis = 0;\nlet bagiOwner = 0;\n\n// MURNI MENANGKAP PENGAJUAN DARI KASIR\nconst isRequestBonus = input.REQ_BONUS === true || input.REQ_BONUS === \"true\";\nconst alasanBonus = input.ALASAN_BONUS || \"-\";\nconst statusBonus = isRequestBonus ? \"PENDING\" : \"-\";\n\nif (paketName.includes(\"PAKET 8\") || paketName.includes(\"CHIROPRACTIC\")) { bagiTerapis = 100000; bagiOwner = cleanTagihan - bagiTerapis; } \nelse if (paketName.includes(\"HERMES\")) { bagiTerapis = 54000; bagiOwner = cleanTagihan - bagiTerapis; } \nelse if (paketName.includes(\"BODY MASSAGE (60 MENIT)\")) { bagiTerapis = 30000; bagiOwner = cleanTagihan - bagiTerapis; } \nelse if (paketName.includes(\"REFLEKSI (60 MENIT)\")) { bagiTerapis = 30000; bagiOwner = cleanTagihan - bagiTerapis; } \nelse if (paketName.includes(\"BEKAM BASAH\")) { bagiTerapis = 30000; bagiOwner = cleanTagihan - bagiTerapis; } \nelse if (paketName.includes(\"LULUR\")) { bagiTerapis = 30000; bagiOwner = cleanTagihan - bagiTerapis; } \nelse if (paketName.includes(\"TOTOK WAJAH\")) { bagiTerapis = 20000; bagiOwner = cleanTagihan - bagiTerapis; } \nelse if (paketName.includes(\"PIJAT KEPALA\")) { bagiTerapis = 20000; bagiOwner = cleanTagihan - bagiTerapis; } \nelse if (paketName.includes(\"TERAPI TELINGA\")) { bagiTerapis = 20000; bagiOwner = cleanTagihan - bagiTerapis; } \nelse if (paketName.includes(\"BEKAM KERING\")) { bagiTerapis = 20000; bagiOwner = cleanTagihan - bagiTerapis; } \nelse if (!paketName.includes(\"PAKET\") && !paketName.includes(\"HOTEL\") && paketName !== \"\") { \n    bagiTerapis = cleanTagihan * 0.30; bagiOwner = cleanTagihan - bagiTerapis;\n} \nelse {\n    // DEFAULT 30% KECUALI LEMBUR. Sisanya akan di-Acc via Keuangan\n    let persenTerapis = isShiftMalam ? 0.40 : 0.30;\n    bagiTerapis = cleanTagihan * persenTerapis;\n    bagiOwner = cleanTagihan - bagiTerapis;\n}\n\nlet noWa = String(input.NOMOR_CUSTOMER || \"\").replace(/\\D/g, '');\nif (noWa.startsWith('0')) noWa = '62' + noWa.slice(1);\n\nreturn [{\n  json: {\n    CABANG_ID: input.CABANG_ID || \"BUGAR1\",\n    NAMA_PASIEN: input.NAMA_PASIEN || \"Umum\",\n    PAKET: input.PAKET || \"-\",\n    TAGIHAN: cleanTagihan,\n    TERAPIS: input.TERAPIS ? String(input.TERAPIS).trim().toUpperCase() : \"TANPA NAMA\",\n    TANGGAL: wib.toISOString().split('T')[0],\n    JAM_MULAI: jamMulai,\n    JAM_SELESAI: jamSelesai,\n    BAGI_TERAPIS: bagiTerapis,\n    BAGI_OWNER: bagiOwner,\n    NOMOR_CUSTOMER: noWa,\n    STATUS_ORDER: \"In Progress\",\n    METODE_BAYAR: input.METODE_BAYAR || \"CASH\",\n    STATUS_BONUS: statusBonus,\n    ALASAN_BONUS: alasanBonus\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6208,
        6624
      ],
      "id": "ac1e4180-fc06-440a-b152-a642a044860f",
      "name": "Code Insert"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "KDdKPnHoT8H7lwvZ",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "NAMA_PASIEN": "={{ $json.NAMA_PASIEN }}",
            "PAKET": "={{ $json.PAKET }}",
            "TAGIHAN": "={{ $json.TAGIHAN }}",
            "TERAPIS": "={{ $json.TERAPIS }}",
            "TANGGAL": "={{ $json.TANGGAL }}",
            "CABANG_ID": "={{ $json.CABANG_ID}}",
            "JAM_MULAI": "={{ $json.JAM_MULAI }}",
            "JAM_SELESAI": "={{ $json.JAM_SELESAI }}",
            "BAGI_TERAPIS": "={{ $json.BAGI_TERAPIS }}",
            "BAGI_OWNER": "={{ $json.BAGI_OWNER }}",
            "NOMOR_CUSTOMER": "={{ $json.NOMOR_CUSTOMER }}",
            "METODE_BAYAR": "={{ $json.METODE_BAYAR }}",
            "STATUS_BONUS": "={{ $json.STATUS_BONUS }}",
            "ALASAN_BONUS": "={{ $json.ALASAN_BONUS }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        6384,
        6624
      ],
      "id": "8607eed8-ab1f-4171-8d98-0cd1681b3ddd",
      "name": "INSERT ORDER"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        6592,
        6624
      ],
      "id": "f65ca9f1-d364-41b2-b6d6-4e0b46794cf3",
      "name": "Respon Insert"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "KDdKPnHoT8H7lwvZ",
          "mode": "list"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $json.body.id_database }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "NAMA_PASIEN": "=={{ $json.body.nama_pasien }} [BATAL]",
            "TAGIHAN": "0",
            "BAGI_OWNER": "0",
            "BAGI_TERAPIS": "0"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        6208,
        6816
      ],
      "id": "70ba477b-2a5c-47be-8707-e2c6c16167ad",
      "name": "DELETE ROW"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"message\": \"Data berhasil dihapus\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        6400,
        6816
      ],
      "id": "f2f687af-5b9f-47d6-ba46-768afca7763b",
      "name": "Respon Delete"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "KDdKPnHoT8H7lwvZ",
          "mode": "list"
        },
        "limit": 3000
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        6208,
        7008
      ],
      "id": "eb166704-4045-4383-b4bd-bcef076852c0",
      "name": "Owner Get Data"
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { status: \"anti-loop\" } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6384,
        7008
      ],
      "id": "79e9b003-d3cc-4096-819c-837227d53d48",
      "name": "Anti Loop 1"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "8HildWnSkKq16oAy",
          "mode": "list"
        },
        "limit": 3000
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        6592,
        7008
      ],
      "id": "d3b72657-6100-4a7f-8192-47a4c3601707",
      "name": "Owner Get Settings"
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { status: \"anti-loop\" } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6784,
        7008
      ],
      "id": "e9cc2036-2b1a-4c4e-b525-c4240cc4f547",
      "name": "Anti Loop 2"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "PMdyZTFnEIl9dZnw",
          "mode": "list",
          "cachedResultName": "BUGAR REFLEKSI EXPENSE LOG",
          "cachedResultUrl": "/projects/hFqRknMTWXnMyfsU/datatables/PMdyZTFnEIl9dZnw"
        },
        "limit": 3000
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        6992,
        7008
      ],
      "id": "b914819b-87be-435c-ab45-ab320fbd9d8f",
      "name": "Owner Get Expense",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { status: \"anti-loop\" } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7184,
        7008
      ],
      "id": "dd502f93-ff63-4ec8-b6bf-08fb406fa4c7",
      "name": "Anti Loop 5"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "IpK7qyGRXKwZCiND",
          "mode": "list"
        },
        "limit": 3000
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        7392,
        7008
      ],
      "id": "24959995-f6cc-49db-a3c4-e21d7877593d",
      "name": "GET LOGISTIK OWNER",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const rawTx = $('Owner Get Data').all().map(i => i.json);\nconst rawSet = $('Owner Get Settings').all().map(i => i.json);\nconst rawExp = $('Owner Get Expense').all().map(i => i.json);\nconst rawLogistik = $('GET LOGISTIK OWNER').all().map(i => i.json);\n\nconst getUnique = (arr) => {\n    const map = new Map();\n    arr.forEach(obj => {\n        const id = obj.id || JSON.stringify(obj);\n        if (!map.has(id)) map.set(id, obj);\n    });\n    return Array.from(map.values());\n}\nconst cleanTx = getUnique(rawTx);\nconst cleanSet = getUnique(rawSet);\nconst cleanExp = getUnique(rawExp);\nconst cleanLogistik = getUnique(rawLogistik);\n\nconst wib = new Date(new Date().getTime() + (new Date().getTimezoneOffset() * 60000) + (3600000 * 7));\nconst localISOTime = wib.toISOString().slice(0, 10);\nconst currentMonthStr = localISOTime.substring(0, 7);\n\nconst summary = { \n    grandOmsetHariIni: 0, grandBagiOwnerHariIni: 0, grandBagiTerapisHariIni: 0,\n    grandTotalBulanIni: 0, grandBagiOwnerBulanIni: 0, grandBagiTerapisBulanIni: 0,\n    expenseHariIni: 0, expenseBulanIni: 0, \n    cabang: {}, trenHari: { 1:0, 2:0, 3:0, 4:0, 5:0, 6:0, 0:0 }, terapis: {} \n};\n\ncleanSet.forEach(s => {\n  const cid = s.LOGIN_ID || s.CABANG_ID;\n  if (cid && !cid.toUpperCase().includes('MASTER') && !cid.toUpperCase().includes('OWNER') && !cid.toUpperCase().includes('LOGISTIK') && !cid.toUpperCase().includes('SUPERVISOR')) {\n    summary.cabang[cid] = { id: cid, persenOwner: (Number(s.PERSEN_OWNER) || 60) / 100, omsetHariIni: 0, bagiOwnerHariIni: 0, omsetBulanIni: 0, bagiOwnerBulanIni: 0, expenseHariIni: 0, expenseBulanIni: 0, batalHariIni: 0, paxHariIni: 0, lastTx: \"-\", terapisHariIni: {}, logsHariIni: [] };\n  }\n});\n\ncleanTx.forEach(tx => {\n  const cid = tx.CABANG_ID;\n  if (!cid || !summary.cabang[cid]) return;\n  const tagihan = Number(tx.TAGIHAN) || 0;\n  const bagiOwner = Number(tx.BAGI_OWNER) || 0;\n  const bagiTerapis = Number(tx.BAGI_TERAPIS) || 0;\n  const isBatal = tagihan === 0;\n  const tgl = tx.TANGGAL || tx.createdAt?.substring(0, 10) || \"\";\n  const namaTerapis = tx.TERAPIS ? String(tx.TERAPIS).trim().toUpperCase() : \"TANPA NAMA\";\n  const jam = tx.JAM_MULAI || \"-\";\n  \n  if (tgl === localISOTime) {\n    if (!isBatal) { \n        summary.cabang[cid].omsetHariIni += tagihan; \n        summary.cabang[cid].bagiOwnerHariIni += bagiOwner; \n        summary.grandOmsetHariIni += tagihan; \n        summary.grandBagiOwnerHariIni += bagiOwner; \n        summary.grandBagiTerapisHariIni += bagiTerapis; \n        summary.cabang[cid].paxHariIni += 1; \n        summary.cabang[cid].logsHariIni.push({ id: tx.id, jam: jam, nama: tx.NAMA_PASIEN, nominal: tagihan, type: 'income', terapis: namaTerapis }); \n        summary.cabang[cid].terapisHariIni[namaTerapis] = (summary.cabang[cid].terapisHariIni[namaTerapis] || 0) + 1; \n        if (summary.cabang[cid].lastTx === \"-\" || jam > summary.cabang[cid].lastTx) summary.cabang[cid].lastTx = jam; \n    } else { summary.cabang[cid].batalHariIni += 1; }\n  }\n  if (tgl.startsWith(currentMonthStr) && !isBatal) {\n    summary.cabang[cid].omsetBulanIni += tagihan; \n    summary.cabang[cid].bagiOwnerBulanIni += bagiOwner;\n    summary.grandTotalBulanIni += tagihan; \n    summary.grandBagiOwnerBulanIni += bagiOwner;\n    summary.grandBagiTerapisBulanIni += bagiTerapis;\n    summary.trenHari[new Date(tgl).getDay()] += 1; \n    summary.terapis[namaTerapis] = (summary.terapis[namaTerapis] || 0) + tagihan;\n  }\n});\n\ncleanExp.forEach(ex => {\n    const cid = ex.CABANG_ID; const tgl = ex.TANGGAL; const nominal = Number(ex.NOMINAL) || 0; const jam = ex.createdAt ? ex.createdAt.substring(11,16) : \"-\";\n    if (tgl === localISOTime) summary.expenseHariIni += nominal;\n    if (tgl && tgl.startsWith(currentMonthStr)) summary.expenseBulanIni += nominal;\n    if (cid && summary.cabang[cid]) {\n        if (tgl === localISOTime) { summary.cabang[cid].expenseHariIni += nominal; summary.cabang[cid].logsHariIni.push({ id: ex.id, jam: jam, nama: ex.NAMA_PENGELUARAN, nominal: nominal, type: 'expense', terapis: '' }); }\n        if (tgl && tgl.startsWith(currentMonthStr)) summary.cabang[cid].expenseBulanIni += nominal;\n    }\n});\n\ncleanLogistik.forEach(log => {\n    const tgl = log.TANGGAL; const target = log.TARGET_CABANG; const nominal = Number(log.NOMINAL) || 0;\n    if (tgl === localISOTime) summary.expenseHariIni += nominal;\n    if (tgl && tgl.startsWith(currentMonthStr)) summary.expenseBulanIni += nominal;\n    if (target && target !== 'PUSAT' && summary.cabang[target]) {\n        if (tgl === localISOTime) summary.cabang[target].expenseHariIni += nominal;\n        if (tgl && tgl.startsWith(currentMonthStr)) summary.cabang[target].expenseBulanIni += nominal;\n    }\n});\n\nconst leaderboard = Object.values(summary.cabang).map(c => {\n    c.logsHariIni.sort((a,b) => b.jam.localeCompare(a.jam));\n    let mvp = \"-\"; let maxPax = 0;\n    for (const [t, p] of Object.entries(c.terapisHariIni)) { if (p > maxPax) { maxPax = p; mvp = t; } }\n    c.mvp = maxPax > 0 ? `${mvp} (${maxPax} Pax)` : \"-\";\n    c.margin = c.omsetHariIni > 0 ? Math.round(((c.bagiOwnerHariIni - c.expenseHariIni) / c.omsetHariIni) * 100) : 0;\n    return {...c, labaHariIni: c.bagiOwnerHariIni - c.expenseHariIni, labaBulanIni: c.bagiOwnerBulanIni - c.expenseBulanIni};\n}).sort((a, b) => b.labaHariIni - a.labaHariIni);\n\nconst urutanHari = [1, 2, 3, 4, 5, 6, 0];\nconst namaHari = { 1:\"Senin\", 2:\"Selasa\", 3:\"Rabu\", 4:\"Kamis\", 5:\"Jumat\", 6:\"Sabtu\", 0:\"Minggu\" };\nconst trenData = urutanHari.map(index => ({ hari: namaHari[index], pasien: summary.trenHari[index] }));\nconst topTerapis = Object.entries(summary.terapis).map(([nama, omset]) => ({ nama, omset })).sort((a, b) => b.omset - a.omset).slice(0, 3);\nconst cancelledOrders = [];\ncleanTx.forEach(tx => { if (Number(tx.TAGIHAN) === 0 && tx.NAMA_PASIEN?.includes(\"[BATAL]\")) cancelledOrders.push(tx); });\ncancelledOrders.sort((a,b) => b.TANGGAL.localeCompare(a.TANGGAL));\n\nconst logistikLogs = cleanLogistik.map(l => ({ id: l.id, tanggal: l.TANGGAL, kategori: l.KATEGORI, target: l.TARGET_CABANG, nama: l.NAMA_BARANG, nominal: Number(l.NOMINAL) || 0, keterangan: l.KETERANGAN })).reverse();\n\nreturn [{ json: { \n    grandOmsetHariIni: summary.grandOmsetHariIni, \n    grandBagiTerapisHariIni: summary.grandBagiTerapisHariIni,\n    grandTotalBulanIni: summary.grandTotalBulanIni, \n    grandBagiTerapisBulanIni: summary.grandBagiTerapisBulanIni,\n    expenseHariIni: summary.expenseHariIni, \n    expenseBulanIni: summary.expenseBulanIni, \n    globalLabaHariIni: summary.grandBagiOwnerHariIni - summary.expenseHariIni, \n    globalLabaBulanIni: summary.grandBagiOwnerBulanIni - summary.expenseBulanIni, \n    leaderboard: leaderboard, \n    trenHari: trenData, \n    topTerapis: topTerapis, \n    cancelledOrders: cancelledOrders.slice(0, 20), \n    logistikLogs: logistikLogs \n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7584,
        7008
      ],
      "id": "eb793adc-17ea-425d-b04b-81b9d4d8597a",
      "name": "Kalkulasi Rekap Owner"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        7792,
        7008
      ],
      "id": "f94a25db-fdb6-45d7-b495-99965dcabfcf",
      "name": "Respon Owner"
    },
    {
      "parameters": {
        "jsCode": "const input = $('Webhook').item.json.body;\nconst wib = new Date(new Date().getTime() + (new Date().getTimezoneOffset() * 60000) + (3600000 * 7));\nreturn [{ json: { CABANG_ID: input.CABANG_ID, TANGGAL: wib.toISOString().split('T')[0], NAMA_PENGELUARAN: input.NAMA_PENGELUARAN, NOMINAL: Number(input.NOMINAL) || 0, KETERANGAN: input.KETERANGAN || \"-\" } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6208,
        7216
      ],
      "id": "cea3d66e-518a-4bdc-acd4-8754f0476eaf",
      "name": "FORMAT EXPENSE"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "PMdyZTFnEIl9dZnw",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "CABANG_ID": "={{ $json.CABANG_ID }}",
            "TANGGAL": "={{ $json.TANGGAL }}",
            "NAMA_PENGELUARAN": "={{ $json.NAMA_PENGELUARAN }}",
            "NOMINAL": "={{ $json.NOMINAL }}",
            "KETERANGAN": "={{ $json.KETERANGAN }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        6400,
        7216
      ],
      "id": "f62f7e71-aba2-44e3-b21a-f4c8014147e9",
      "name": "INSERT EXPENSE"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"success\", \"message\": \"Pengeluaran dicatat\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        6608,
        7216
      ],
      "id": "66c12040-0922-4d44-81bb-2f7ec025de77",
      "name": "Respon Expense"
    },
    {
      "parameters": {
        "jsCode": "const input = $('Webhook').item.json.body;\nconst wib = new Date(new Date().getTime() + (new Date().getTimezoneOffset() * 60000) + (3600000 * 7));\nreturn [{ json: { KATEGORI: input.TARGET_CABANG === 'PUSAT' ? 'PUSAT' : 'CABANG', TARGET_CABANG: input.TARGET_CABANG, TANGGAL: wib.toISOString().split('T')[0], NAMA_BARANG: input.NAMA_BARANG, NOMINAL: Number(input.NOMINAL) || 0, KETERANGAN: input.KETERANGAN || \"-\" } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6208,
        7408
      ],
      "id": "6ccf402c-1ff3-4f28-ba7c-c11b01d88e71",
      "name": "Format Logistik"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "IpK7qyGRXKwZCiND",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "KATEGORI": "={{ $json.KATEGORI }}",
            "TARGET_CABANG": "={{ $json.TARGET_CABANG }}",
            "TANGGAL": "={{ $json.TANGGAL }}",
            "NAMA_BARANG": "={{ $json.NAMA_BARANG }}",
            "NOMINAL": "={{ $json.NOMINAL }}",
            "KETERANGAN": "={{ $json.KETERANGAN }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        6400,
        7408
      ],
      "id": "389b211b-1cda-458a-8cb6-49713f49eb76",
      "name": "INSERT LOGISTIK"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"success\", \"message\": \"Logistik dicatat\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        6608,
        7408
      ],
      "id": "dae3a24d-824d-4039-b57d-8959cd888594",
      "name": "Respon Logistik"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "KDdKPnHoT8H7lwvZ",
          "mode": "list"
        },
        "limit": 3000
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        6208,
        7600
      ],
      "id": "bc4ee26a-7477-48de-b827-735673457c87",
      "name": "GET FILTER LOG"
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { status: \"anti-loop\" } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6384,
        7600
      ],
      "id": "05f02a25-c9d2-4a3c-b9c9-3b1399443b14",
      "name": "Anti Loop 3"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "PMdyZTFnEIl9dZnw",
          "mode": "list"
        },
        "limit": 3000
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        6592,
        7600
      ],
      "id": "c05c542b-fa49-4dcd-8025-08f0314ca98f",
      "name": "GET FILTER EXPENSE",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const allTx = $('GET FILTER LOG').all().map(i => i.json);\nconst allExp = $('GET FILTER EXPENSE').all().map(i => i.json);\nconst filter = $('Webhook').item.json.body;\nconst startDate = filter.startDate;\nconst endDate = filter.endDate;\nconst targetCabang = filter.cabang || 'ALL';\n\nlet report = { omset: 0, bagiOwner: 0, expense: 0, laba: 0, terapis: {}, rawTransactions: [] };\n\nallTx.forEach(tx => {\n    if (tx.TANGGAL >= startDate && tx.TANGGAL <= endDate) {\n        if (targetCabang === 'ALL' || tx.CABANG_ID === targetCabang) {\n            const tagihan = Number(tx.TAGIHAN) || 0;\n            const bagiOwner = Number(tx.BAGI_OWNER) || 0;\n            const bagiTerapis = Number(tx.BAGI_TERAPIS) || 0;\n            \n            const db_id = tx.id || tx.ID || tx.db_id;\n            report.rawTransactions.push({...tx, db_id: db_id});\n\n            if (tagihan > 0) {\n                report.omset += tagihan;\n                report.bagiOwner += bagiOwner;\n                \n                const rawTerapis = tx.TERAPIS ? String(tx.TERAPIS).trim().toUpperCase() : \"TANPA NAMA\";\n                const cid = tx.CABANG_ID || \"UNKNOWN\";\n                const key = cid + \"_\" + rawTerapis;\n                \n                if (!report.terapis[key]) report.terapis[key] = { cabang: cid, nama: rawTerapis, totalPasien: 0, totalKomisi: 0 };\n                report.terapis[key].totalPasien += 1;\n                report.terapis[key].totalKomisi += bagiTerapis;\n            }\n        }\n    }\n});\n\nallExp.forEach(ex => {\n    if (ex.TANGGAL >= startDate && ex.TANGGAL <= endDate) {\n        if (targetCabang === 'ALL' || ex.CABANG_ID === targetCabang) {\n            report.expense += (Number(ex.NOMINAL) || 0);\n        }\n    }\n});\n\nreport.laba = report.bagiOwner - report.expense;\nreport.daftarTerapis = Object.values(report.terapis).sort((a,b)=>b.totalKomisi - a.totalKomisi);\n\nreport.rawTransactions.sort((a,b) => {\n    const dateA = a.TANGGAL + \" \" + (a.JAM_MULAI || \"\");\n    const dateB = b.TANGGAL + \" \" + (b.JAM_MULAI || \"\");\n    return dateB.localeCompare(dateA);\n});\n\nreturn [{ json: { status: \"success\", data: report } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6784,
        7600
      ],
      "id": "dd8efd53-58cb-4eb2-8350-599466e9242b",
      "name": "HITUNG REPORT"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        6992,
        7600
      ],
      "id": "95e279df-eca7-4c98-b4d2-83920a97ea71",
      "name": "Respon Filter"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "KDdKPnHoT8H7lwvZ",
          "mode": "list"
        },
        "limit": 3000
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        6208,
        7824
      ],
      "id": "e3ba0b2a-7df5-49fc-962c-18af61e8fa7d",
      "name": "GET SUPERVISOR LOG"
    },
    {
      "parameters": {
        "jsCode": "const allData = $('GET SUPERVISOR LOG').all().map(i => ({...i.json, db_id: i.json.id || i.id}));\nconst wib = new Date(new Date().getTime() + (new Date().getTimezoneOffset() * 60000) + (3600000 * 7));\nconst limitDate = new Date(wib.getTime() - (15 * 24 * 60 * 60 * 1000)).toISOString().split('T')[0];\nconst filtered = allData.filter(tx => tx.TANGGAL >= limitDate).reverse();\nreturn [{ json: { status: 'success', data: filtered } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6432,
        7824
      ],
      "id": "cc4e879b-ab1e-4203-a52f-cec0c74f288f",
      "name": "Supervisor Filter"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        6640,
        7824
      ],
      "id": "2bf4b986-fa19-4ace-bf6f-bf13718e1874",
      "name": "Respon Supervisor"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "IpK7qyGRXKwZCiND",
          "mode": "list"
        },
        "limit": 3000
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        6208,
        8016
      ],
      "id": "63c890a2-33f0-4bdc-9f42-5171b6b8b225",
      "name": "GET LOGISTIK LOAD"
    },
    {
      "parameters": {
        "jsCode": "const allData = $('GET LOGISTIK LOAD').all().map(i => ({...i.json, db_id: i.json.id || i.id}));\nconst wib = new Date(new Date().getTime() + (new Date().getTimezoneOffset() * 60000) + (3600000 * 7));\nconst limitDate = new Date(wib.getTime() - (35 * 24 * 60 * 60 * 1000)).toISOString().split('T')[0];\nconst filtered = allData.filter(tx => tx.TANGGAL >= limitDate).reverse();\nreturn [{ json: { status: 'success', data: filtered } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6432,
        8016
      ],
      "id": "f884364f-0ed3-4ab9-82a6-2be6679b86d6",
      "name": "Logistik Filter Load"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        6640,
        8016
      ],
      "id": "807250a3-feaf-4679-8e54-1fbe75cfd463",
      "name": "Respon Logistik Load"
    },
    {
      "parameters": {
        "jsCode": "const input = $('Webhook').item.json.body;\nreturn [{\n    json: {\n        id_database: input.id_database,\n        NAMA_PASIEN: input.NAMA_PASIEN,\n        TERAPIS: input.TERAPIS ? String(input.TERAPIS).trim().toUpperCase() : \"TANPA NAMA\",\n        TAGIHAN: Number(input.TAGIHAN) || 0,\n        BAGI_TERAPIS: Number(input.BAGI_TERAPIS) || 0,\n        BAGI_OWNER: Number(input.BAGI_OWNER) || 0,\n        STATUS_BONUS: input.STATUS_BONUS || \"APPROVED\"\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6208,
        8200
      ],
      "id": "e9a11111-2222-3333-4444-555566667777",
      "name": "Format Update Order"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "KDdKPnHoT8H7lwvZ",
          "mode": "list"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $json.id_database }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "NAMA_PASIEN": "={{ $json.NAMA_PASIEN }}",
            "TERAPIS": "={{ $json.TERAPIS }}",
            "TAGIHAN": "={{ $json.TAGIHAN }}",
            "BAGI_TERAPIS": "={{ $json.BAGI_TERAPIS }}",
            "BAGI_OWNER": "={{ $json.BAGI_OWNER }}",
            "STATUS_BONUS": "={{ $json.STATUS_BONUS }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        6400,
        8200
      ],
      "id": "f8b22222-3333-4444-5555-666677778888",
      "name": "EXECUTE UPDATE"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"message\": \"Data Order berhasil diperbarui!\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        6600,
        8200
      ],
      "id": "a7c33333-4444-5555-6666-777788889999",
      "name": "Respon Edit"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "GET BRANCH AUTH",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GET LOG DATA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code Insert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DELETE ROW",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Owner Get Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FORMAT EXPENSE",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GET FILTER LOG",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GET SUPERVISOR LOG",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Logistik",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GET LOGISTIK LOAD",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Update Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET BRANCH AUTH": {
      "main": [
        [
          {
            "node": "Validasi Login",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validasi Login": {
      "main": [
        [
          {
            "node": "Respon Login",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET LOG DATA": {
      "main": [
        [
          {
            "node": "Anti Loop Kasir",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anti Loop Kasir": {
      "main": [
        [
          {
            "node": "GET LOG EXPENSE KASIR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET LOG EXPENSE KASIR": {
      "main": [
        [
          {
            "node": "Format Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Data": {
      "main": [
        [
          {
            "node": "Respon Load",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Insert": {
      "main": [
        [
          {
            "node": "INSERT ORDER",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INSERT ORDER": {
      "main": [
        [
          {
            "node": "Respon Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DELETE ROW": {
      "main": [
        [
          {
            "node": "Respon Delete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Owner Get Data": {
      "main": [
        [
          {
            "node": "Anti Loop 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anti Loop 1": {
      "main": [
        [
          {
            "node": "Owner Get Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Owner Get Settings": {
      "main": [
        [
          {
            "node": "Anti Loop 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anti Loop 2": {
      "main": [
        [
          {
            "node": "Owner Get Expense",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Owner Get Expense": {
      "main": [
        [
          {
            "node": "Anti Loop 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anti Loop 5": {
      "main": [
        [
          {
            "node": "GET LOGISTIK OWNER",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET LOGISTIK OWNER": {
      "main": [
        [
          {
            "node": "Kalkulasi Rekap Owner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kalkulasi Rekap Owner": {
      "main": [
        [
          {
            "node": "Respon Owner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FORMAT EXPENSE": {
      "main": [
        [
          {
            "node": "INSERT EXPENSE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INSERT EXPENSE": {
      "main": [
        [
          {
            "node": "Respon Expense",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Logistik": {
      "main": [
        [
          {
            "node": "INSERT LOGISTIK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INSERT LOGISTIK": {
      "main": [
        [
          {
            "node": "Respon Logistik",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET FILTER LOG": {
      "main": [
        [
          {
            "node": "Anti Loop 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anti Loop 3": {
      "main": [
        [
          {
            "node": "GET FILTER EXPENSE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET FILTER EXPENSE": {
      "main": [
        [
          {
            "node": "HITUNG REPORT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HITUNG REPORT": {
      "main": [
        [
          {
            "node": "Respon Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET SUPERVISOR LOG": {
      "main": [
        [
          {
            "node": "Supervisor Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supervisor Filter": {
      "main": [
        [
          {
            "node": "Respon Supervisor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET LOGISTIK LOAD": {
      "main": [
        [
          {
            "node": "Logistik Filter Load",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Logistik Filter Load": {
      "main": [
        [
          {
            "node": "Respon Logistik Load",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Update Order": {
      "main": [
        [
          {
            "node": "EXECUTE UPDATE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EXECUTE UPDATE": {
      "main": [
        [
          {
            "node": "Respon Edit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "a0d1d83f9335cbfc4f2c35854b6f89c84062f3aaed41916032ecce5bfd8b2630"
  }
}
